@import "theme.css";

* {
  /*border: ?;*/
  font-family: "MesloLGS Nerd Font Mono";
  font-size: 15px;

  font-weight: bold;
  border-radius: 10px;
  padding: 0px 0 0 0px;
}

window {
}
window#waybar {
  background: transparent;
}
/*-----module groups----*/
.modules-right {
  background-color: @background;
  color: @foreground;
  margin: 10px 10px 0px 10px;
}
.modules-center {
  background-color: @background;
  margin: 10px 10px 0px 10px;
  color: @foreground;
}
.modules-left {
  margin: 10px 10px 0px 10px;
  background-color: @background;
  color: @foreground;
}


/*-----modules indv----*/
#workspaces button {
  padding: 1px 5px;
  background-color: transparent;
  background-color: @background;
  color: @foreground;
}
#workspaces button:hover {
  box-shadow: inherit;
  background-color: @foreground;
  color: @background;
}

#workspaces button.active {
  background-color: @foreground;
  color: @background;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#custom-title


#idle_inhibitor {
  padding: 0 10px;
}
#mode {
  color: #cc3436;
  font-weight: bold;
}

#custom-power {
  background-color: @background;
  border: 1px solid @overlay;
  border-radius: 100px;
  margin: 5px 5px;
}
/*-----Indicators----*/

#idle_inhibitor.activated {
  color: #2dcc36;
}
#pulseaudio.muted {
  color: #cc3436;
}
#battery.charging {
  color: #2dcc36;
}
#battery.warning:not(.charging) {
  color: #e6e600;
}
#battery.critical:not(.charging) {
  color: #cc3436;
}

#temperature.critical {
  color: #cc3436;
}

#custom-title {
  color: @foreground;
}
/*-----Colors----*/


/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
