
window {
    margin: 0px;
    background-color: #191724;
    border-radius: 5px; /* this one for the rounding */
    /*border: 2px solid #403d52;*/
    color: #e0def4;
    font-family: "MesloLGS Nerd Font Mono";
    font-size: 0px;
}

#input {
    font-family: "MesloLGS Nerd Font Mono";
    font-size: 18px;

    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;

    color: white;
    background-color: #403d52;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #191724;
    color: #191724;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #191724;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    /*modified to 5 px;*/
    margin: 0px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
  
    background-color: #e0def4;
    color: #FF0000;
    border-radius: 0px;
    outline: none;
}

#entry:selected * {
    background-color: #e0def4;
    /*selection_background     #403d52*/

    color: #191724;
    border-radius: 0px;
    outline: none;
}
